@import "theme.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $fillColorDark;
  height: 150px;
  padding: 20px;
  color: $fillColorLight;
}

.App-intro {
  font-size: large;
}

.row {
    display: flex;
    flex-flow: row;
}

.col {
    display: flex;
    flex-flow: column;
    flex: 1;
}

.section {
    border: 3px solid #dedede;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;

    &:first-child {
        margin-left: 10px;
    }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
