// Theme Components
// Define global variables that can be re-themed

// COLORS
$brandColor: #61DAFB;

$textColorLight: white;
$textColorDark: black;

$fillColorLight: white;
$fillColorDark: #222222;
